<h1>yo! how your doing?</h1><br><h1>Lets get started!</h1>

<button (click)="isValid=true" style="font-size:xx-large;">Learn Something</button>
<button (click)="isValid=false" style="font-size:xx-large;">Click but cant be unlearned</button>
<div *ngIf="isValid;then myifBlock; else myelse" style="font-size:xx-large;"></div><br>
  <ng-template #myifBlock><br>
    <select name="name" id="name" (change)=myShow($event) >
      <option value="none" style="font-size:xx-large;">Select to get to know them</option>
      <option value="vikram" style="font-size:xx-large;">Vikram</option>
      <option value="gourav" style="font-size:xx-large;">Gourav</option>
      <option value="karnika" style="font-size:xx-large;">Karnika</option>
      <option value="sachin" style="font-size:xx-large;">Sachin</option>
    </select>

    <!-- myVar value : {{myVar}} -->

    <div [ngSwitch]="myVar">
      <h2 *ngSwitchCase="'vikram'">Get Unwanted Knowledge for free</h2>
      <h2 *ngSwitchCase="'gourav'">Get headache to death(hopeless, idiotic, <u>RETARDED</u> case!)</h2>
      <h2 *ngSwitchCase="'karnika'">welcome to the world of mockery</h2>
      <h2 *ngSwitchCase="'sachin'">tape worm</h2>
      <h2 *ngSwitchDefault>choose an option please!</h2>
    </div>
  </ng-template>
  <ng-template #myelse>
    <table border=1><h3>Villian list</h3>
      <tr>
        <th>Serial no.</th>
        <th>Id</th>
        <th>Name</th>
        <th>even</th>
        <th>odd</th>
      </tr>

      <tr *ngFor="let p of peopleList;index as i; let ev=even; let od=odd">
        <td>{{i+1}}</td>
        <td>{{p.villainId}}</td>
        <td>{{p.villainName}}</td>
        <td>{{ev}}</td>
        <td>{{od}}</td>
      </tr>
    </table>
    <button (click)="addNewRow('V104','Gainda Swami')">Add New Row</button>
    <button (click)="deleteNewRow('V104')">Delete Row</button>

  </ng-template>
  <app-student></app-student>
